<div class="jumbotron">
	<div class="container text-center">
		<h1 class="display-3">Fortnite Leaderboard</h1>
		<p class="lead">
			<strong></strong>
		</p>
	</div>
</div>
<div class="container" id="epic_name">
	<form id="char_form" method="POST" action="/apiUserName">
		<div class="form-group text-center">
			<label for="epic_name">Enter a Player's Epic Nickname</label>
			<input id="epic_name_field" type="text" class="form-control" name="epic_name">
			<label for="platform">Platform</label>
			<select name="platform" id="platform" class="form-control">
				<option value="pc">PC</option>
				<option value="xbl">Xbox One</option>
				<option value="psn">Play Station</option>
				{{!-- TODO: All option not working yet. Need to figure out how to get stats for all 3 in one API call --}}
				<option value="all">All</option>
			</select>
			<button type="submit" class="btn btn-success" id="submit">Submit</button>
		</div>
	</form>
	<p class="btn-danger">
		{{error}}
	</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul>
				{{#each users}}
				<li>{{this.nickname}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Selected User's Stats:</h1>
				<p>
					Epic Nickname: {{response.epicUserHandle}}
				</p>
				<p>
					Platform: {{response.platformNameLong}}
				</p>
				<p>
					Score: {{response.stats.p2.score.value}}
				</p>
				<p>
					Score Rank: {{response.stats.p2.score.rank}}
				</p>
				<p>
					Kills: {{response.stats.p2.kills.value}}
				</p>
				<p>
					Kills Rank: {{response.stats.p2.kills.rank}}
				</p>
				<p>
					Kill/Death Ratio: {{response.stats.p2.kd.valueDec}}
				</p>
				<p>
					K/D Rank: {{response.stats.p2.kd.rank}}
				</p>
				<p>
					Kills Per Match: {{response.stats.p2.kpg.valueDec}}
				</p>
				<p>
					Matches: {{response.stats.p2.matches.value}}
				</p>
				<p>
					TRN Rating: {{response.stats.p2.trnRating.valueInt}}
				</p>

			</div>
			<div class="col-lg-6">
				<canvas id="myChart" width="400" height="400"></canvas>
			</div>
		</div>
	</div>