<!-- Navbar goes here -->
<nav class="white" role="navigation">
	<div class="nav-wrapper nav-color">
		<a id="logo-container" href="#" class="brand-logo fonthelper">Fortnite Leaderboard</a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a href="#">Navbar Link</a>
			</li>
		</ul>

		<ul id="nav-mobile" class="sidenav">
			<li>
				<a href="#">Navbar Link</a>
			</li>
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger">
			<i class="material-icons">menu</i>
		</a>
	</div>
</nav>


<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br>
			<br>
			<h1 class="header center">Stat Tracker</h1>
			<div class="row center">
				<h5 class="header col s12 light">A simple stat tracking app that lets you see how you stack up to the competition</h5>
			</div>

			<br>
			<br>

		</div>
	</div>
	<div class="parallax">
		<img src="../public/assets/img/background1.jpg" alt="Unsplashed background img 1">
	</div>
</div>





<div class="container lt_blue_BACK">
	<!-- Page Content goes here -->
	<!-- Page Layout here -->
	<div class="row">

		<div class="col s12 m4 l4 sidebar z-depth-2">
			<div id="epic_name">
				<form id="char_form" method="POST" action="/apiUserName">
					<div class="form-group text-center">
						<label for="epic_name">Enter a Player's Epic Nickname</label>
						<input id="epic_name_field" type="text" class="form-control" name="epic_name">
						<label for="platform">Platform</label>
						<select name="platform" id="platform" class="form-control">
							<option value="pc">PC</option>
							<option value="xbl">Xbox One</option>
							<option value="psn">Play Station</option>
							{{!-- TODO: All isn't working yet. Need to see if we can get stats from all platforms in one call --}}
							<option value="all">All</option>
						</select>
						<br>
						<button type="submit" class="btn btn-success" id="submit">Submit</button>
					</div>
				</form>
				<p class="btn-danger">
					{{error}}
				</p>
			</div>

		</div>

		<div class="col s12 m8 l8 main">

			<h1 class="drk_blue">User's Stats:</h1>
			<p>
				Epic Nickname:
				<span class="fonthelper" id="nickname">{{response.epicUserHandle}}</span>
			</p>
			<p>
				Platform:
				<span class="fonthelper" id="platformName">{{response.platformNameLong}}</span>
			</p>
			<h4>Overall</h4>
			<hr>
			<table>
				<tr>
					<th>Score</th>
					<th>Matches Played</th>
					<th>Wins</th>
					<th>Win %</th>
					<th>Kills</th>
					<th>K/D</th>
				</tr>
				<tr>
					<td class="fonthelper">{{response.lifeTimeStats.[6].value}}</td>
					<td class="fonthelper">{{response.lifeTimeStats.[7].value}}</td>
					<td class="fonthelper">{{response.lifeTimeStats.[8].value}}</td>
					<td class="fonthelper">{{response.lifeTimeStats.[9].value}}</td>
					<td class="fonthelper">{{response.lifeTimeStats.[10].value}}</td>
					<td class="fonthelper">{{response.lifeTimeStats.[11].value}}</td>
				</tr>
			</table>
			<div class="col s12 m4 l4">
				<h4>Solos</h4>
				<hr>
				<p>
					Kills:
					<span class="fonthelper" id="p2kills">{{response.stats.p2.kills.value}}</span>
					<br>
					<span class="fonthelper" id="p2killsRank">#{{response.stats.p2.kills.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p2KillsBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p2percentilebar_fill" id="p2KillsFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p2killsPercentile">{{response.stats.p2.kills.percentile}}</span>
					</div>
				</p>
				<p>
					Kill/Death Ratio:
					<span class="fonthelper" id="p2kd">{{response.stats.p2.kd.valueDec}}</span>
					<br>
					<span class="fonthelper" id="p2kdRank">#{{response.stats.p2.kd.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p2KDBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p2percentilebar_fill" id="p2kdFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p2kdPercentile">{{response.stats.p2.kd.percentile}}</span>
					</div>
				</p>
				<p>
					Kills Per Match:
					<span class="fonthelper" id="p2kpg">{{response.stats.p2.kpg.valueDec}}</span>
					<br>
					<span class="fonthelper" id="p2kpgRank">#{{response.stats.p2.kpg.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p2kpgBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p2percentilebar_fill" id="p2kpgFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p2kpgPercentile">{{response.stats.p2.kpg.percentile}}</span>
					</div>
				</p>
				<p>
					Matches:
					<span class="fonthelper" id="p2matches">{{response.stats.p2.matches.value}}</span>
				</p>
				<p>
					Score:
					<span class="fonthelper" id="p2score">{{response.stats.p2.score.value}}</span>
				</p>
				<p>
					Score Rank:
					<span class="fonthelper" id="p2scoreRank">{{response.stats.p2.score.rank}}</span>
				</p>
				<p>
					Score Per Match:
					<span class="fonthelper" id="p2scorePerMatch">{{response.stats.p2.scorePerMatch.displayValue}}</span>
				</p>
				<p>
					TRN Rating:
					<span class="fonthelper" id="p2trnRating">{{response.stats.p2.trnRating.valueInt}}</span>
				</p>
			</div>
			<div class="col s12 m4 l4">
				<h4>Duos</h4>
				<hr>
				<p>
					Kills:
					<span class="fonthelper" id="p10kills">{{response.stats.p10.kills.value}}</span>
					<br>
					<span class="fonthelper" id="p10killsRank">#{{response.stats.p10.kills.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p10KillsBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p10percentilebar_fill" id="p10KillsFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p10killsPercentile">{{response.stats.p10.kills.percentile}}</span>
					</div>
				</p>
				<p>
					Kill/Death Ratio:
					<span class="fonthelper" id="p10kd">{{response.stats.p10.kd.valueDec}}</span>
					<br>
					<span class="fonthelper" id="p10kdRank">#{{response.stats.p10.kd.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p10KDBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p10percentilebar_fill" id="p10kdFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p10kdPercentile">{{response.stats.p10.kd.percentile}}</span>
					</div>
				</p>
				<p>
					Kills Per Match:
					<span class="fonthelper" id="p10kpg">{{response.stats.p10.kpg.valueDec}}</span>
					<br>
					<span class="fonthelper" id="p10kpgRank">#{{response.stats.p10.kpg.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p10kpgBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p10percentilebar_fill" id="p10kpgFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p10kpgPercentile">{{response.stats.p10.kpg.percentile}}</span>
					</div>
				</p>
				<p>
					Matches:
					<span class="fonthelper" id="p10matches">{{response.stats.p10.matches.value}}</span>
				</p>
				<p>
					Score:
					<span class="fonthelper" id="p10score">{{response.stats.p10.score.value}}</span>
				</p>
				<p>
					Score Rank:
					<span class="fonthelper" id="p10scoreRank">{{response.stats.p10.score.rank}}</span>
				</p>
				<p>
					Score Per Match:
					<span class="fonthelper" id="p10scorePerMatch">{{response.stats.p10.scorePerMatch.displayValue}}</span>
				</p>
				<p>
					TRN Rating:
					<span class="fonthelper" id="p10trnRating">{{response.stats.p10.trnRating.valueInt}}</span>
				</p>
			</div>
			<div class="col s12 m4 l4">
				<h4>Squads</h4>
				<hr>
				<p>
					Kills:
					<span class="fonthelper" id="p9kills">{{response.stats.p9.kills.value}}</span>
					<br>
					<span class="fonthelper" id="p9killsRank">#{{response.stats.p9.kills.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p9KillsBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p9percentilebar_fill" id="p9KillsFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p9killsPercentile">{{response.stats.p9.kills.percentile}}</span>
					</div>
				</p>
				<p>
					Kill/Death Ratio:
					<span class="fonthelper" id="p9kd">{{response.stats.p9.kd.valueDec}}</span>
					<br>
					<span class="fonthelper" id="p9kdRank">#{{response.stats.p9.kd.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p9KDBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p9percentilebar_fill" id="p9kdFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p9kdPercentile">{{response.stats.p9.kd.percentile}}</span>
					</div>
				</p>
				<p>
					Kills Per Match:
					<span class="fonthelper" id="p9kpg">{{response.stats.p9.kpg.valueDec}}</span>
					<br>
					<span class="fonthelper" id="p9kpgRank">#{{response.stats.p9.kpg.rank}}</span>
					<br>
					<div class="percentilebar tooltipped" id="p9kpgBar" data-position="bottom" data-tooltip="I am a tooltip">
						<div class="p9percentilebar_fill" id="p9kpgFill" style="width: 0%"></div>
					</div>
					<div class="hidden">Percentile:
						<span class="fonthelper" id="p9kpgPercentile">{{response.stats.p9.kpg.percentile}}</span>
					</div>
				</p>
				<p>
					Matches:
					<span class="fonthelper" id="p9matches">{{response.stats.p9.matches.value}}</span>
				</p>
				<p>
					Score:
					<span class="fonthelper" id="p9score">{{response.stats.p9.score.value}}</span>
				</p>
				<p>
					Score Rank:
					<span class="fonthelper" id="p9scoreRank">{{response.stats.p9.score.rank}}</span>
				</p>
				<p>
					Score Per Match:
					<span class="fonthelper" id="p9scorePerMatch">{{response.stats.p9.scorePerMatch.displayValue}}</span>
				</p>
				<p>
					TRN Rating:
					<span class="fonthelper" id="p9trnRating">{{response.stats.p9.trnRating.valueInt}}</span>
				</p>
			</div>

		</div>
		<canvas id="myChart" class="col s12 m4 l4"></canvas>
	</div>
</div>

<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="../public/assets/img/background2.jpg" alt="Unsplashed background img 2">
	</div>
</div>

<div class="container">
	<div class="section">

		<div class="row">
			<div class="col s12 center">
				<h3>
					<i class="mdi-content-send brown-text"></i>
				</h3>
				<h4>Look it's Us</h4>
					<ul>
						{{#each Users}}
						<li>{{this.epicID}}</li>
						<li>{{this.kills}}</li>
						<li>{{this.killRank}}</li>
						<li>{{this.kdRatio}}</li>
						<li>{{this.kdRank}}</li>
						<li>{{this.kpm}}</li>
						<li>{{this.kpmRank}}</li>
						<li>{{this.matches}}</li>
						<li>{{this.score}}</li>
						<li>{{this.scoreRank}}</li>
						<li>{{this.scorePerMatch}}</li>
						<li>{{this.trnRating}}</li>
						{{/each}}
					</ul>
				<p class="left-align light">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique
					arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra
					ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin
					diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida
					ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus
					et ultrices posuere cubilia Curae;</p>
			</div>
		</div>

	</div>
</div>


<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="../public/assets/img/background3.jpg" alt="Unsplashed background img 3">
	</div>
</div>

<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">The Pixelated Pythons</h5>
				<p class="grey-text text-lighten-4"> We are a team of college students...</p>


			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
					<li>
						<a class="white-text" href="#!">Link 1</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 2</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 3</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 4</a>
					</li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li>
						<a class="white-text" href="#!">Link 1</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 2</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 3</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 4</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by The Pixelated Pythons, with help</a>
		</div>
	</div>
</footer>